<script>
  // 商品に関するお問い合わせ
  window.onload = function() {

// document.getElementById("102523-name").type = "hidden";
    document.getElementById("102523-url").type = "hidden";
    document.getElementById("102523-text-2").type = "hidden";

// URLを取得
    const url = new URL(window.location.href);

// URLの末尾につく?以降のGETパラメータを取得
    const params = url.searchParams;

// ルートURLを取得
    const originurl = url.origin;

    console.log(params);
    console.log(originurl);

// パラメータから「name」を取得
    const productname = params.get("name");
    const producthandle = params.get("handle");
    const producturl = params.get("url");

    console.log(productname);
    console.log(producthandle);
    console.log(producturl);

// document.getElementById("102523-name").value = productname;
    document.getElementById("102523-text-2").value = productname;

    if (params.has('name')) {
      document.getElementById("contact_product-info_area").classList.add("contact_product-info_area_block");
      document.getElementById("102523-url").value = originurl + producturl;
    }

  }
</script>

<section class="privacypolicy01 lower_mv">
  <figure>
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_b02b2130-719a-4f03-a83d-207e15c85b58.jpg" media="(min-width: 768px)" />
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_sp_dbec83f8-e9e6-4f84-90d3-1da6401a21e2.jpg" media="(max-width: 767px)" />
      <img
        src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_b02b2130-719a-4f03-a83d-207e15c85b58.jpg"
        alt=""
        class="objectCover">
    </picture>
  </figure>
  <div class="lower_mv_txt">
    <span class="en_h en">CONTACT</span>
    <h1>
      <span>お問い合わせ</span>
    </h1>
  </div>
</section>

<div class="contact02">
  <div class="breadcrumbs">
    <ol
      itemscope
      itemtype="https://schema.org/BreadcrumbList"
      class="en">
      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/">
          <span itemprop="name">top</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>

      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <span itemprop="name">contact</span>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </div>

  <div class="contact02_in">
    <div class="box fadein">
      <p>以下のフォームの項目を入力し、よろしければ「確認する」ボタンをクリックしてください。</p>
      <p>※店舗・事業者の方など、業販向けの対応も可能ですので、その旨を記載頂けましたら幸いです。</p>
      {%- capture handle -%}
        {%- render "function_get_query_value_by_key" key: "handle" -%}{%- endcapture -%}
      {%- assign product = all_products[handle] -%}
      <div id="contact_product-info_area" class="contact_product-info_area">
        <div class="contact_product-info">
          <div class="product_img_contact"><img src="{{ product.featured_image | img_url: "master" }}" alt=""></div>
          <p class="product_title_contact">{{ product.title }}</p>
        </div>
      </div>
      <div class="globo-formbuilder" data-id="MTAyNTIz"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "contactform",
    "presets": [
      {
        "name": "contactform"
      }
    ]
  }
{% endschema %}