<footer>
  {% comment %}　▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼  {% endcomment %}
  <div class="footer_inner">
    <div class="footer_logo">
      <a href="/">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/footer_logo.svg" media="(min-width: 768px)" />
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/footer_Logo_sp.svg" media="(max-width: 767px)" />
          <img
            src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/footer_logo.svg"
            alt=""
            class="objectCover">
        </picture>
      </a>
    </div>
    <div class="calender">
      <div class="calendarMaster__storeCustom"></div>
    </div>
    <div class="footer_contents">
      <p class="category_title en">
        <span>category</span>
      </p>
      <div class="footer_list_wrap">
        <ul class="footer_list">
          <li>
            <a href="/collections/chair">チェア</a>
          </li>
          <li>
            <a href="/collections/table">テーブル</a>
          </li>
          <li>
            <a href="/collections/chest">チェスト</a>
          </li>
          <li>
            <a href="/collections/desk">ビューロー・デスク</a>
          </li>
          <li>
            <a href="/collections/cabinet">キャビネット</a>
          </li>
        </ul>
        <ul class="footer_list">
          <li>
            <a href="/collections/sideboard">サイドボード</a>
          </li>
          <li>
            <a href="/collections/boockcase">ブックケース</a>
          </li>
          <li>
            <a href="/collections/stand">スタンド</a>
          </li>
          <li>
            <a href="/collections/mishin">ミシン</a>
          </li>
          <li>
            <a href="/collections/tnruk">トランク</a>
          </li>
        </ul>
        <ul class="footer_list">
          <li>
            <a href="/collections/sewingbox">ソーイングボックス</a>
          </li>
          <li>
            <a href="/collections/furniture">家具その他</a>
          </li>
          <li>
            <a href="/collections/silver">シルバー雑貨</a>
          </li>
          <li>
            <a href="/collections/signboard">絵・看板</a>
          </li>
          <li>
            <a href="/collections/garageitem">ガレージアイテム</a>
          </li>
        </ul>
        <ul class="footer_list">
          <li>
            <a href="/collections/foreignbook">洋書</a>
          </li>
          <li>
            <a href="/collections/tableware">テーブルウェア</a>
          </li>
          <li>
            <a href="/collections/toys">おもちゃ</a>
          </li>
          <li>
            <a href="/collections/ornament">小物入れ・置物</a>
          </li>
          <li>
            <a href="/collections/goods">雑貨その他</a>
          </li>
        </ul>
      </div>
      <ul class="footer_menu01">
        <li>
          <a href="/collections/allitems" class="en">items</a>
        </li>
        <li>
          <a href="/pages/about" class="en">about us</a>
        </li>
        <li>
          <a href="/" class="en">service</a>
        </li>
        <li>
          <a href="/pages/review" class="en">review</a>
        </li>
        <li>
          <a href="/pages/shop-access" class="en">store/access</a>
        </li>
        <li>
          <a href="/blogs/news" class="en">topics</a>
        </li>
        <li>
          <a href="/pages/contact" class="en">contact</a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/kobeantique_warehouse/"
            class="en"
            target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_instagram.svg" alt="">
          </a>
        </li>
      </ul>
      <div class="footer_menu02_wrap">
        <ul class="footer_menu02">
          <li>
            <a href="/pages/privacypolicy">プライバシーポリシー</a>
          </li>
          <li>
            <a href="/pages/transaction">特定商取引法に基づく表記</a>
          </li>
        </ul>
        <a
          href="#"
          class="instagram is_sp"
          target="_blank">
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_instagram.svg" alt="">
        </a>
      </div>
      <div class="payment">
        <p class="en">payment</p>
        <ul>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_amex.svg" alt="">
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_apple.svg" alt="">
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_jcb.svg" alt="">
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_master.svg" alt="">
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_shop.svg" alt="">
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_visa.svg" alt="">
          </li>
        </ul>
      </div>
      <div class="footer_box">
        <div class="footer_item footer_item01">
          <p>運営会社</p>
          <ul>
            <li><a href="https://www.src1.co.jp/" target="_blank">株式会社エスアールシー</a></li>
          </ul>
        </div>
        <div class="footer_item footer_item02">
          <p>運営メディア</p>
          <div class="ul_wrap">
            <ul>
              <li>
                <a href="https://ashiya-antico.com/" target="_blank">アンティークジュエリー・時計販売サイト</a>
              </li>
              <li>
                <a href="https://www.ginbasya.jp/" target="_blank">貴金属地金売買サイト</a>
              </li>
              <li>
                <a
                  href="https://www.tyoukou.com/"
                  target="_blank"
                  class="small">超硬買取専門サイト
                  ニッケル・コバルト買取専門サイト</a>
              </li>
              <li>
                <a href="https://www.shikakin.net/" target="_blank">歯科金属・金パラ買取専門サイト</a>
              </li>
            </ul>
            <ul>
              <li><a href="https://www.kgb.co.jp/" target="_blank">貴金属買取サイト</a></li>
              <li><a href="https://www.super-recycle.com/" target="_blank">スクラップ買取専門サイト</a></li>
              <li><a href="https://www.shikakin.net/" target="_blank">歯科金属・金パラ買取専門サイト</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>COPYRIGHT © SRC, INC. ALL RIGHTS RESERVED.</p>
    </div>
  </div>
  <!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
</footer>