<footer>
  {% comment %}　▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼  {% endcomment %}
  <div class="footer_inner">
    <div class="footer_logo">
      <a href="./">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/footer_logo.svg" media="(min-width: 768px)" />
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/footer_logo_sp.svg" media="(max-width: 767px)" />
          <img
            src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/footer_logo.svg"
            alt=""
            class="objectCover">
        </picture>
      </a>
    </div>
    <div class="calender"></div>
    <div class="footer_contents">
      <p class="category_title en">
        <span>category</span>
      </p>
      <div class="footer_list_wrap">
        <ul class="footer_list">
          <li>
            <a href="#">チェア</a>
          </li>
          <li>
            <a href="#">テーブル</a>
          </li>
          <li>
            <a href="#">チェスト</a>
          </li>
          <li>
            <a href="#">ビューロー・デスク</a>
          </li>
          <li>
            <a href="#">キャビネット</a>
          </li>
        </ul>
        <ul class="footer_list">
          <li>
            <a href="#">サイドボード</a>
          </li>
          <li>
            <a href="#">ブックケース</a>
          </li>
          <li>
            <a href="#">スタンド</a>
          </li>
          <li>
            <a href="#">ミシン</a>
          </li>
          <li>
            <a href="#">トランク</a>
          </li>
        </ul>
        <ul class="footer_list">
          <li>
            <a href="#">ソーイングボックス</a>
          </li>
          <li>
            <a href="#">家具その他</a>
          </li>
          <li>
            <a href="#">シルバー雑貨</a>
          </li>
          <li>
            <a href="#">絵・看板</a>
          </li>
          <li>
            <a href="#">ガレージアイテム</a>
          </li>
        </ul>
        <ul class="footer_list">
          <li>
            <a href="#">洋書</a>
          </li>
          <li>
            <a href="#">テーブルウェア</a>
          </li>
          <li>
            <a href="#">おもちゃ</a>
          </li>
          <li>
            <a href="#">小物入れ・置物</a>
          </li>
          <li>
            <a href="#">雑貨その他</a>
          </li>
        </ul>
      </div>
      <ul class="footer_menu01">
        <li>
          <a href="./items.html" class="en">items</a>
        </li>
        <li>
          <a href="./about.html" class="en">about us</a>
        </li>
        <li>
          <a href="./" class="en">service</a>
        </li>
        <li>
          <a href="./review.html" class="en">review</a>
        </li>
        <li>
          <a href="./shop-access.html" class="en">store/access</a>
        </li>
        <li>
          <a href="./topics.html" class="en">topics</a>
        </li>
        <li>
          <a href="./contact.html" class="en">contact</a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/kobeantique_warehouse/"
            class="en"
            target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_instagram.svg" alt="">
          </a>
        </li>
      </ul>
      <div class="footer_menu02_wrap">
        <ul class="footer_menu02">
          <li>
            <a href="./privacypolicy.html">プライバシーポリシー</a>
          </li>
          <li>
            <a href="./transaction.html">特定商取引法に基づく表記</a>
          </li>
        </ul>
        <a
          href="#"
          class="instagram is_sp"
          target="_blank">
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_instagram.svg" alt="">
        </a>
      </div>
      <div class="payment">
        <p class="en">payment</p>
        <ul>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_amex.svg" alt="">
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_apple.svg" alt="">
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_jcb.svg" alt="">
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_master.svg" alt="">
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_shop.svg" alt="">
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_visa.svg" alt="">
          </li>
        </ul>
      </div>
      <div class="footer_box">
        <div class="footer_item footer_item01">
          <p>運営会社</p>
          <ul>
            <li><a href="https://www.src1.co.jp/" target="_blank">株式会社エスアールシー</a></li>
          </ul>
        </div>
        <div class="footer_item footer_item02">
          <p>運営メディア</p>
          <div class="ul_wrap">
            <ul>
              <li>
                <a href="https://ashiya-antico.com/" target="_blank">アンティークジュエリー・時計販売サイト</a>
              </li>
              <li>
                <a href="https://www.ginbasya.jp/" target="_blank">貴金属地金売買サイト</a>
              </li>
              <li>
                <a
                  href="https://www.tyoukou.com/"
                  target="_blank"
                  class="small">超硬買取専門サイト
                  ニッケル・コバルト買取専門サイト</a>
              </li>
              <li>
                <a href="https://www.shikakin.net/" target="_blank">歯科金属・金パラ買取専門サイト</a>
              </li>
            </ul>
            <ul>
              <li><a href="https://www.kgb.co.jp/" target="_blank">貴金属買取サイト</a></li>
              <li><a href="https://www.super-recycle.com/" target="_blank">スクラップ買取専門サイト</a></li>
              <li><a href="https://www.shikakin.net/" target="_blank">歯科金属・金パラ買取専門サイト</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>COPYRIGHT © SRC, INC. ALL RIGHTS RESERVED.</p>
    </div>
  </div>
  <!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
</footer>