<section class="top05">
  <div class="top05_inner">
    <div class="section_title white horizontal fadein">
      <span class="en">service</span>
      <h2>サービス</h2>
    </div>
    <div class="box fadein">
      <div class="item">
        <div class="figure_wrap">
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top05_img01.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top05_img01_sp.jpg" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top05_img01.jpg" alt="">
            </picture>
          </figure>
          <span class="category en">SERVICE / 01</span>
        </div>
        <div class="txt">
          <span class="en_h en">repair</span>
          <h3>リペア</h3>
          <p>
            お客様に安心してお使いいただけるよう、 家具のぐらつき等ご使用上問題ないか メンテナンスを行ってから、販売させて頂いております。
          </p>
          <a href="/repair" class="en">view more</a>
        </div>
      </div>
      <div class="item">
        <div class="figure_wrap">
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top05_img02.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top05_img02_sp.jpg" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top05_img02.jpg" alt="">
            </picture>
          </figure>
          <span class="category en">SERVICE / 02</span>
        </div>
        <div class="txt">
          <span class="en_h en">rental</span>
          <h3>レンタル</h3>
          <p>
            KOBE ANTIQUE WAREHOUSEでは、アンティーク家具・雑貨のレンタルを一部商品を対象に始めました。
          </p>
          <a href="/rental" class="en">view more</a>
        </div>
      </div>
      <div class="item">
        <div class="figure_wrap">
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top05_img03.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top05_img03_sp.jpg" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top05_img03.jpg" alt="">
            </picture>
          </figure>
          <span class="category en">SERVICE / 03</span>
        </div>
        <div class="txt">
          <span class="en_h en">shop cordinate</span>
          <h3>ショップコーディネート</h3>
          <p>
            アパレル店舗などのショップ、飲食店、オフィスなど、様々な業種・業態での利用シーンをお伺いし、家具から雑貨まで幅広い在庫よりご提案させていただきます。
          </p>
          <a href="/shop-cordinate" class="en">view more</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "top05-service",
    "presets": [
      {
        "name": "top05-service"
      }
    ]
  }
{% endschema %}