<section class="top08 contact_area">
  <div class="contact_area_inner">
    <div class="section_title white horizontal">
      <span class="en">contact</span>
      <h2>コンタクト</h2>
    </div>
    <p>商品や修理、レンタルに関する<br class="is_sp">お問い合わせなど <br class="is_sp">お気軽にお問い合わせください。</p>
    <a href="/contact"><img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_mail.svg" alt="">お問合せフォーム</a>
  </div>
</section>

{% schema %}
  {
    "name": "top08-contact",
    "presets": [
      {
        "name": "top08-contact"
      }
    ]
  }
{% endschema %}