<section class="top06">
  <div class="section_title fadein">
    <span class="en_h en">shop / warehouse</span>
    <h2>
      <span>ショップ / ウェアハウス</span>
    </h2>
  </div>
  <div class="top06_inner">
    <div class="figure_wrap fadein">
      <p class="figure_title AntroVectra">Inherited <br class="is_sp">Antiques</p>
      <figure>
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top06_img01.jpg" media="(min-width: 768px)" />
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top06_img01_sp.jpg" media="(max-width: 767px)" />
          <img
            src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top06_img01.jpg"
            alt=""
            class="objectCover">
        </picture>
      </figure>
    </div>
    <div class="txt fadein">
      <h3>神戸アンティークウェアハウス</h3>
      <p>
        大量のアンティーク品を倉庫に常時ストック 神戸港でアンティーク家具や雑貨をヨーロッパを中心とした海外からコンテナ単位で買い付け直輸入しています。
        さらに、自社倉庫で荷受けし、自社のオンラインストアや実店舗で販売するという一貫体制をとっているため、 リーズナブルな価格を実現しています。
      </p>
      <table>
        <tr>
          <th class="en">address</th>
          <td>〒658-0031 <br class="is_sp">兵庫県神戸市東灘区向洋町東2-7-10<br><span class="small">六甲アイランド線<br class="is_sp">アイランド北口駅徒歩15分</span><br>
            <div class="gmap"><img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_gmap.svg" alt=""><a href="https://goo.gl/maps/iRw73mQU662cVcRt9" target="_blank">Google map</a>
            </div>
          </td>
        </tr>
        <tr>
          <th class="en pd01">tel</th>
          <td class="pd01">078-224-5444</td>
        </tr>
        <tr>
          <th class="en pd02">opening <br class="is_pc">hours</th>
          <td class="pd02">
            <span class="mt">平日<br>10:00 - 17:00（最終受付16：00）</span>
            <span class="mt">第三土曜日（3rd Sat Warehouse Open
              day）<br>11：00～18：00（夏季）<br>10：00～17：00（冬季）（※時期により営業時間が異なります）</span>
          </td>
        </tr>
        <tr>
          <th class="en">close</th>
          <td>土曜日、日曜日、祝日</td>
        </tr>
      </table>
    </div>
    <div class="illust_wrap">
      <div class="illust">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top06_illust01.svg" alt="">
      </div>
      <div class="illust">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top06_illust02.svg" alt="">
      </div>
    </div>
  </div>
  <figure class="top06_img02">
    <img src="./images/top/https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top06_img02.jpg" alt="">
  </figure>
</section>

{% schema %}
  {
    "name": "top06-shop-warehouse",
    "presets": [
      {
        "name": "top06-shop-warehouse"
      }
    ]
  }
{% endschema %}