<section class="top02">
  <figure class="img01 fadein">
    <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top02_img01.jpg" alt="">
  </figure>
  <div class="box01">
    <div class="left fadein">
      <h2 class="en">ANTIQUES<br>IN URBANIZE</h2>
      <p class="en_p en">
        We buy antique furniture and miscellaneous goods by the container unit from overseas,
        mainly
                        Europe, at the Port of Kobe and import them directly.We also receive the goods in our
                        own
                        warehouse and sell them through our online store and
                        brick-and-mortar stores.
      </p>
      <p class="jp_p">
        神戸港でアンティーク家具や雑貨をヨーロッパを中心とした海外からコンテナ単位で買い付け直輸入しています。
        さらに、自社倉庫で荷受けし、自社のオンラインストアや実店舗で販売するという一貫体制をとっているため、リーズナブルな価格を実現しています。
      </p>
      <div class="btn">
        <a href="/about" class="en">
          <span>about us</span>
        </a>
      </div>
    </div>
    <div class="right">
      <div class="illust_box">
        <figure class="illust">
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top02_illust01.png" alt="">
        </figure>
        <figure class="illust">
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top02_illust02.png" alt="">
        </figure>
        <figure class="illust is_pc">
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top02_illust03.png" alt="">
        </figure>
      </div>
      <figure class="img03 fadein">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top02_img03.jpg" media="(min-width: 768px)" />
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top02_img03_sp.jpg" media="(max-width: 767px)" />
          <img
            src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top02_img03.jpg"
            alt=""
            class="objectCover">
        </picture>
      </figure>
    </div>
  </div>
  <div class="box02 fadein">
    <p class="AntroVectra">Welcome to<br><span>Warehouse</span>
    </p>
    <figure class="img02">
      <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top02_img02.jpg" alt="">
    </figure>
    <figure class="img04">
      <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/top02_img02.jpg" alt="">
    </figure>
  </div>
</section>

{% schema %}
  {
    "name": "top02-about",
    "presets": [
      {
        "name": "top02-about"
      }
    ]
  }
{% endschema %}