<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ お客様の声01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="review01 lower_mv">
  <figure>
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_3c0792fe-8af4-4755-887d-d47d09c68269.jpg" media="(min-width: 768px)" />
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_sp_30b585c8-b698-4678-a343-4cb194db25ce.jpg" media="(max-width: 767px)" />
      <img
        src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_3c0792fe-8af4-4755-887d-d47d09c68269.jpg"
        alt=""
        class="objectCover">
    </picture>
  </figure>
  <div class="lower_mv_txt">
    <span class="en_h en">REVIEW</span>
    <h1>
      <span>お客様の声</span>
    </h1>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ お客様の声01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ お客様の声02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="review02">
  <div class="breadcrumbs">
    <ol
      itemscope
      itemtype="https://schema.org/BreadcrumbList"
      class="en">
      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/">
          <span itemprop="name">top</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>

      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <span itemprop="name">REVIEW</span>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </div>
  {% section 'review' %}
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ お客様の声02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ お客様の声03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="review03 contact_area">
  <div class="contact_area_inner">
    <div class="section_title white horizontal">
      <span class="en">contact</span>
      <h2>コンタクト</h2>
    </div>
    <p>商品や修理、レンタルに関する<br class="is_sp">お問い合わせなど <br class="is_sp">お気軽にお問い合わせください。</p>
    <a href="/pages/contact"><img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_mail.svg" alt="">お問合せフォーム</a>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ お客様の声03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->