<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 私たちについて01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="about01 lower_mv">
  <figure>
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv.jpg?" media="(min-width: 768px)" />
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_sp.jpg" media="(max-width: 767px)" />
      <img
        src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv.jpg"
        alt=""
        class="objectCover">
    </picture>
  </figure>
  <div class="lower_mv_txt">
    <span class="en_h en">about us</span>
    <h1>
      <span>私たちについて</span>
    </h1>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 私たちについて01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 私たちについて02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="about02">
  <div class="breadcrumbs">
    <ol
      itemscope
      itemtype="https://schema.org/BreadcrumbList"
      class="en">
      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/">
          <span itemprop="name">top</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>

      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <span itemprop="name">about us</span>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </div>
  <div class="about02_inner01">
    <div class="heading fadein">
      <h2 class="en">TIME WITH<br>TIMELESSM<br>MASTERPIECES.</h2>
    </div>
    <div class="txt fadein">
      <h3>時を超える名品と暮らす</h3>
      <p>
        私たち神戸アンティークウェアハウスは<br>半世紀近くに渡り受け継がれてきた<br>イギリス家具・雑貨を取り扱っています。
      </p>
      <p>
        1000点を超える商品はいずれも<br class="is_pc">当ショップのオーナーがイギリス現地から直接買い付け。<br>自社独自の一貫体制によって
        日々の暮らしに取り入れやすい確かな品質と適正価格の実現にこだわってきました。
      </p>
      <p>
        当時の時代を象徴する繊細な装飾。<br>希少なマホガニーやローズウッドが醸し出す重厚感。<br>職人の高度な技術がなせる美しいフォルム。<br>そのひとつひとつが手仕事で丁寧に仕上げられています。
      </p>
      <p>
        それぞれのストーリーを歩みながら現代に受け継がれ<br class="is_pc">これからも使い続けられていく。<br>自分だけの価値基準と感性で選ぶ 一点ものの家具を見つけてみませんか？
      </p>
    </div>
  </div>
  <div class="about02_inner02 fadein">
    <div class="figure_wrap01">
      <figure class="figure01">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img01.jpg" media="(min-width: 768px)" />
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img01_sp.jpg" media="(max-width: 767px)" />
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img01.jpg" alt="">
        </picture>
      </figure>
      <figure class="figure02">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img02.jpg" media="(min-width: 768px)" />
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img02_sp.jpg" media="(max-width: 767px)" />
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img02.jpg" alt="">
        </picture>
      </figure>
      <figure class="figure03">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img03.jpg" media="(min-width: 768px)" />
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img03_sp.jpg" media="(max-width: 767px)" />
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img03.jpg" alt="">
        </picture>
      </figure>
      <figure class="illust01">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_illust01.svg" alt="">
      </figure>
      <figure class="illust02">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_illust02.svg" alt="">
      </figure>
    </div>
    <div class="figure_wrap02">
      <figure class="only_sp_illust is_sp">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_illust01.svg" alt="">
      </figure>
      <figure class="figure04">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img04.png" media="(min-width: 768px)" />
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img04_sp.png" media="(max-width: 767px)" />
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img04.png" alt="">
        </picture>
      </figure>
      <figure class="illust03">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_illust03.svg" alt="">
      </figure>
      <p class="figure_title AntroVectra">Antiques in<br><span>Daily Life</span>
      </p>
    </div>
    <div class="figure_wrap03">
      <figure class="figure05">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img05.jpg" media="(min-width: 768px)" />
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img05_sp.jpg" media="(max-width: 767px)" />
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img05.jpg" alt="">
        </picture>
      </figure>
      <figure class="figure06">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img06.jpg" media="(min-width: 768px)" />
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img06_sp.jpg" media="(max-width: 767px)" />
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_img06.jpg" alt="">
        </picture>
      </figure>
    </div>
  </div>
  <div class="about02_inner03">
    <div class="box">
      <div class="txt fadein">
        <h3>現地ディーラー紹介：Rob氏</h3>
        <p>
          神戸アンティークウェアハウスの仕入れへのこだわりは<br class="is_pc">「トラディショナル」で「ノスタルジック」で「ミステリアス」なアイテムであること。<br>例年、幅約6mの大型コンテナ3〜4つ分ものアンティーク家具や雑貨をRob氏から輸入しています。
        </p>
        <p>
          ディーラーと取引する上で重要なことは「信頼」です。<br>そのためには「善良な人物」であることが欠かせません。
        </p>
        <p>
          Rob氏は「素晴らしい人柄」と「アンティークの歴史に関する造詣」を併せ持つ人物で、仕入れを通じた異文化コミュニケーションにより強い信頼を育んできました。<br>彼の地方の特色や古き良きものを大切にし、単なる商取引を超えた「次代へ繋ぐ」という意志に、感銘を覚えずにはいられません。
        </p>
      </div>
      <div class="profile fadein">
        <figure>
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_dealer.jpg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_dealer_sp.jpg" media="(max-width: 767px)" />
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about02_dealer.jpg" alt="">
          </picture>
        </figure>
        <div class="profile_txt en">
          <div class="inner">
            <span class="en">DEALER</span>
            <h4>Rob</h4>
          </div>
          <p>イギリス <br class="is_tab">ランカスター在住</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 私たちについて02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 私たちについて03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="about03">
  <div class="about03_h fadein">
    <h2 class="en">service</h2>
  </div>
  <div class="about03_inner">
    <div class="box">
      <div class="item fadein">
        <figure>
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about03_img01.jpg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about03_img01_sp.jpg" media="(max-width: 767px)" />
            <img
              src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about03_img01.jpg"
              alt=""
              class="objectCover">
          </picture>
        </figure>
        <div class="txt">
          <div class="heading">
            <span class="numbering en">service 01</span>
            <div class="inner">
              <span class="en_h en">REPAIR &<br>MAINTENANCE</span>
              <h3>
                <span>修理調整サービス</span>
              </h3>
            </div>
          </div>
          <p>
            当ショップでご購入いただいた商品は、お客様に安心してお使いいただくために、無料でメンテナンスを行ってからお渡ししています。また、塗装や張り替えといった有料修理や、お手持ちの家具の持ち込みによる修理も承っています。お気軽にお問い合わせください。
          </p>
          <a href="/pages/repair" class="en">view more</a>
        </div>
        <div class="illust01">
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about03_illust01.svg" alt="">
        </div>
        <div class="illust02">
          <img
            src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about03_illust02.svg"
            alt=""
            class="objectCover">
        </div>
      </div>
      <div class="item re fadein">
        <figure>
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about03_img02.jpg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about03_img02_sp.jpg" media="(max-width: 767px)" />
            <img
              src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about03_img02.jpg"
              alt=""
              class="objectCover">
          </picture>
        </figure>
        <div class="txt">
          <div class="heading">
            <span class="numbering en">service 02</span>
            <div class="inner">
              <span class="en_h en">RESERVING</span>
              <h3>
                <span>お取り置きサービス</span>
              </h3>
            </div>
          </div>
          <p>
            ご購入いただいた商品に限り、倉庫にて2か月間無料で保管いたします。リニューアル工事中やお引越し、社内会議などで予定組みにくい方も安心してご購入いただけます。
          </p>
          <p>
            ※2か月以上ご希望のお客様は一度ご相談ください。※銀行振込でのご購入の際、ご購入から１週間以内にお振込みが確認されなかった場合には、自動でキャンセルとなります。予めご了承ください。
          </p>
        </div>
        <div class="illust03">
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about03_illust03.svg" alt="">
        </div>
      </div>
      <div class="item fadein">
        <figure>
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about03_img03.jpg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about03_img03_sp.jpg" media="(max-width: 767px)" />
            <img
              src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about03_img03.jpg"
              alt=""
              class="objectCover">
          </picture>
        </figure>
        <div class="txt">
          <div class="heading">
            <span class="numbering en">service 03</span>
            <div class="inner">
              <span class="en_h en">VINYL RECORD</span>
              <h3>
                <span>レコード試聴サービス</span>
              </h3>
            </div>
          </div>
          <p>
            倉庫にご来店いただきましたお客様にお好きなレコードをお選びいただき、JBLスピーカーで流させていただくというサービスを開始いたしました。 ゆっくり休憩していただきながら、お好きな音楽を聴いていただけます。
            （レコードは倉庫にあるものの中からお選び頂きます。）
          </p>
        </div>
        <div class="illust04">
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about03_illust04.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 私たちについて03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 私たちについて04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="about04">
  <div class="about04_inner">
    <div class="about04_h fadein">
      <h2 class="en">business</h2>
      <p class="AntroVectra">Service For</p>
    </div>
    <div class="box">
      <div class="item fadein">
        <div class="figure_wrap">
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about04_img01.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about04_img01_sp.jpg" media="(max-width: 767px)" />
              <img
                src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about04_img01.jpg"
                alt=""
                class="objectCover">
            </picture>
          </figure>
          <p class="figure_txt en">SERVICE FOR BUSINESS 01</p>
        </div>
        <div class="txt">
          <div class="txt_h">
            <span class="en_h en">RENTAL</span>
            <h3>
              <span>レンタル</span>
            </h3>
            <p>
              一部のアンティーク家具・雑貨を対象に、撮影やイベントにご利用いただける「レンタルサービス」を行なっています。
            </p>
            <a href="/pages/rental" class="en">view more</a>
          </div>
        </div>
      </div>
      <div class="item fadein">
        <div class="figure_wrap">
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about04_img02.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about04_img02_sp.jpg" media="(max-width: 767px)" />
              <img
                src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about04_img02.jpg"
                alt=""
                class="objectCover">
            </picture>
          </figure>
          <p class="figure_txt en">SERVICE FOR BUSINESS 02</p>
        </div>
        <div class="txt">
          <div class="txt_h">
            <span class="en_h en">SHOP CORDINATE</span>
            <h3>
              <span>ショップコーディネート</span>
            </h3>
            <p>
              法人様のお客様が、新規出店やオフィスの改装をされる際の「インテリアコーディネート」を承っています。
            </p>
            <a href="/pages/shop-cordinate" class="en">view more</a>
          </div>
        </div>
        <div class="illust01">
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about04_illust01.svg" alt="">
        </div>
        <div class="illust02">
          <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about04_illust02.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 私たちについて04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 私たちについて05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="about05">
  <div class="about05_inner fadein">
    <div class="txt">
      <div class="heading">
        <span class="en_h en">CORPORATE<br>INFORMATION</span>
        <h2>
          <span>運用会社</span>
        </h2>
      </div>
      <p>
        兵庫県神戸市より、芦屋市の国道2号線と芦屋川の交差点に、本社社屋を移転いたしました。長年の間、貴金属買取店として、お客様の想いの詰まったジュエリーをお買取り、そして、お取り扱いさせていただく中で、受け継がれる真の価値に目を向けるようになりました。
      </p>
      <p>
        当店のアンティークは、買付から輸送、管理や販売に至るまでの全ての工程を自社で一貫して行っているため、高価で敷居の高いイメージの強かったアンティークをリーズナブルな価格帯でご提供できております。安価で画一的なモノが世に溢れる現代だからこそ、不変の価値がある、受け継がれるべくして受け継がれたアンティークを日常に。またそれを大切に扱うことで、次世代に継承していけるように。
      </p>
    </div>
    <figure>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about05_img01.jpg" media="(min-width: 768px)" />
        <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about05_img01_sp.jpg" media="(max-width: 767px)" />
        <img
          src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/about05_img01.jpg"
          alt=""
          class="objectCover">
      </picture>
    </figure>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 私たちについて05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 私たちについて06 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="about06">
  <div class="about06_inner">
    <div class="heading fadein">
      <span class="en_h en">outline</span>
      <h2>会社概要</h2>
    </div>
    <table class="fadein">
      <tr>
        <th>商号</th>
        <td>
          <div class="inner center">株式会社エスアールシー<a href="https://www.src1.co.jp/" target="_blank"><img
                src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_tab.svg"
                class="tab"
                alt=""></a>
          </div>
        </td>
      </tr>
      <tr>
        <th>設立</th>
        <td>2002年</td>
      </tr>
      <tr>
        <th class="top">住所</th>
        <td>〒659-0065<br>
          兵庫県芦屋市公光町4-31 <br class="is_sp">Ghost Castle Ashiya BLDG.<br>
          <div class="inner">
            <a href="https://goo.gl/maps/nyrvDBP7RT2xxLB49" target="_blank">
              <span>アクセスはこちら</span>
            </a><img
              src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_gmap_w.svg"
              alt=""
              class="gmap"></div>
        </td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>0797-62-8133</td>
      </tr>
      <tr>
        <th>営業時間</th>
        <td>平日 10:00 ～ 17:00</td>
      </tr>
      <tr>
        <th>休業日</th>
        <td>年末年始　ゴールデンウィーク <br class="is_sp">お盆休み　その他 社内設備点検日等</td>
      </tr>
    </table>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 私たちについて06 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 私たちについて07 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="about07 contact_area">
  <div class="contact_area_inner">
    <div class="section_title white horizontal">
      <span class="en">contact</span>
      <h2>コンタクト</h2>
    </div>
    <p>商品や修理、レンタルに関する<br class="is_sp">お問い合わせなど <br class="is_sp">お気軽にお問い合わせください。</p>
    <a href="/pages/contact"><img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_mail.svg" alt="">お問合せフォーム</a>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 私たちについて07 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ チャット・検索・TEL ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<div class="chat">
  <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_chat.svg" alt="">
  <span class="en">chat</span>
</div>
<div class="side_act">
  <div class="act tel">
    <span class="act_txt en">tel</span>
    <div class="act_inner">
      <span class="icon" id="open01">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_tel.svg" alt="">
      </span>
      <a
        href="tel:078-224-5444"
        class="inner en"
        id="inner01">
        <p class="tel_number">078-224-5444</p>
        <p class="time">10:00 - 17:00</p>
      </a>
    </div>
  </div>
  <div class="act search">
    <span class="act_txt en">search</span>
    <div class="act_inner">
      <span class="icon" id="open02">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_search.svg" alt="">
      </span>
      <div class="inner" id="inner02">
        <form
          action="{{ routes.search_url }}"
          method="get"
          role="search"
          class="search">
          <div class="field">
            <input
              class="search__input field__input"
              id="Search-In-Template"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="サイト内を検索"
              {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-list"
              aria-controls="predictive-search-results-list"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
              {%- endif -%}>
            <input
              name="options[prefix]"
              type="hidden"
              value="product">
            {%- if settings.predictive_search_enabled -%}
              <div
                class="predictive-search predictive-search--search-template"
                tabindex="-1"
                data-predictive-search>
                <div class="predictive-search__loading-state">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    class="spinner"
                    viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle
                      class="path"
                      fill="none"
                      stroke-width="6"
                      cx="33"
                      cy="33"
                      r="30"></circle>
                </svg>
              </div>
            </div>
            <span
              class="predictive-search-status visually-hidden"
              role="status"
              aria-hidden="true"></span>
          {%- endif -%}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ チャット・検索・TEL ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->