<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ リペア&メンテナンス01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="about01 lower_mv">
  <figure>
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_41c7c41d-1239-4ddf-8eba-ab043dcc164a.jpg" media="(min-width: 768px)" />
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_sp_910c3f7c-2644-4cec-a333-8723220a4089.jpg" media="(max-width: 767px)" />
      <img
        src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_41c7c41d-1239-4ddf-8eba-ab043dcc164a.jpg?"
        alt=""
        class="objectCover">
    </picture>
  </figure>
  <div class="lower_mv_txt">
    <span class="en_h en">REPAIR & MAINTENANCE</span>
    <h1>
      <span>リペア&メンテナンス</span>
    </h1>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ リペア&メンテナンス01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ リペア&メンテナンス02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="repair02">
  <div class="breadcrumbs">
    <ol
      itemscope
      itemtype="https://schema.org/BreadcrumbList"
      class="en">
      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="{{ shop.url }}">
          <span itemprop="name">top</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>

      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <span itemprop="name">REPAIR & MAINTENANCE</span>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </div>
  <div class="repair02_inner">
    <figure class="fadein">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair02_img01.jpg.jpg" media="(min-width: 768px)" />
        <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair02_img01_sp.jpg" media="(max-width: 767px)" />
        <img
          src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair02_img01.jpg"
          alt=""
          class="objectCover">
      </picture>
    </figure>
    <div class="txt fadein">
      <h2 class="en">REPAIR & MAINTENANCE</h2>
      <h3>末長く安心して<br class="is_tab">使い続けていただくために。<br>職人の手で1点1点丁寧に<br class="is_tab">「メンテナンス」を施し<br class="is_pc">商品をお渡ししています。
      </h3>
      <p>
        当ショップでご購入いただいた商品は、お客様に安心してお使いいただくために、<br class="is_pc">無料でメンテナンスを行ってからお渡ししています。<br>また、塗装や張り替えといった有料修理や、<br>お手持ちの家具の持ち込みによる修理も承っています。<br class="is_pc">お気軽にお問い合わせください。
      </p>
      <p>
        入荷した商品は徐々にお修理を行っております。ただしお客様のご購入商品を優先的にメンテナンスしているため、タイミングによっては配送にお時間を頂戴する場合がございます。
        （状態によっては、お修理が難しい場合もございますので、予めご了承ください）
      </p>
      <div class="illust01">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair02_illust01.svg" alt="">
      </div>
      <div class="illust02">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair02_illust01.svg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ リペア&メンテナンス02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ リペア&メンテナンス03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="repair03">
  <div class="repair03_inner">
    <div class="txt fadein">
      <h2>リペア・メンテナンス協力：<br class="is_sp">Capra（カプラ）<img
          src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_tab.svg"
          alt=""
          class="is_pc">
      </h2>
      <p>
        カプラは兵庫県宝塚市でアンティーク家具・北欧家具(椅子・テーブル)などの家具修理(リペア)・テーブル再塗装・補修・リメイク・張替えからオーダー家具の設計・制作と古道具の販売を行っています。
      </p>
      <p class="big">
        好きなものを選ぶ<br>好きなものを手入れしながら<br class="is_tab">長く大切につかう<br>好きなものに囲まれて<br class="is_tab">心豊かな時間を過ごす<br>そんなライフスタイルのお手伝いを<br class="is_tab">させて下さい。
      </p>
      <p>
        修理では、さまざまな技法で丁寧に手間と時間をかけることによりオリジナルの風合いをよみがえらせます。また、お客様のニーズに合わせた修理もさせて頂いております。
      </p>
    </div>
    <div class="profile fadein">
      <figure>
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair03_img01.jpg" media="(min-width: 768px)" />
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair03_img01_sp.jpg" media="(max-width: 767px)" />
          <img
            src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair03_img01.jpg"
            alt=""
            class="objectCover">
        </picture>
      </figure>
      <div class="profile_txt">
        <div class="heading">
          <span class="en_h en">CRAFTSMAN</span>
          <h3>小八木 幹久</h3>
        </div>
        <p>1975年大阪生まれ</p>
        <p>専門学校でインテリアデザインを学び、卒業後は大阪府箕面市の某アンティーク家具工房で修理を従事する。その後、ZOO 永田健一 氏に師事する。</p>
        <p>2007年大阪府門真市で hibi設立 <br>2011年家具修理 capraを設立</p>
      </div>
      <p class="profile_title AntroVectra">Mikihisa<br><span>Koyagi</span>
      </p>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ リペア&メンテナンス03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ リペア&メンテナンス04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="repair04">
  <div class="repair04_inner">
    <div class="heading_wrap fadein">
      <p class="heading_title AntroVectra">Repair & Maintenance</p>
      <div class="heading">
        <span class="en_h en">OUTLINE</span>
        <h2>
          <span>ご購入後の流れ</span>
        </h2>
      </div>
      <p>
        ご購入後のメンテナンスのほか、ご希望の場合は有料修理も承っています。
        修理の範囲や仕上がりなどご要望がございましたら、予めご相談ください。
      </p>
    </div>
    <div class="flow fadein">
      <div class="item">
        <p class="txt01 color01">無 料</p>
        <p class="txt02">メンテナンス</p>
      </div>
      <div class="item_between">
        <figure>
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_flow.svg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_flow_sp.svg" media="(max-width: 767px)" />
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_flow.svg" alt="">
          </picture>
        </figure>
        <p>ご要望に応じて</p>
      </div>
      <div class="item">
        <p class="txt01 color02">有 料</p>
        <p class="txt02">修 理</p>
      </div>
      <div class="item_between">
        <figure>
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_flow.svg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_flow_sp.svg" media="(max-width: 767px)" />
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_flow.svg" alt="">
          </picture>
        </figure>
        <p>ご購入後も</p>
      </div>
      <div class="item">
        <p class="txt01 color02">有 料</p>
        <p class="txt02">持ち込み修理</p>
      </div>
    </div>
  </div>
  <div class="box01_bg">
    <div class="repair04_inner">
      <div class="box01 fadein">
        <div class="txt">
          <span class="en_h en">MAINTENANCE</span>
          <h3>
            <span>無料メンテナンスについて</span>
          </h3>
          <p>
            通常、日常生活に使用できる範囲内で修理した状態で家具をお渡ししています。当社独自の判断基準をもとに
            椅子・机のグラつきや、引出し・扉の開閉の引っ掛かりといった見た目ではなく「家具」としてきちんと使える状態に調整しています。また、調整後に行う仕上げのワックスがけも無料で行います。
          </p>
        </div>
        <figure>
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair04_img01.jpg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair04_img01_sp.jpg" media="(max-width: 767px)" />
            <img
              src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair04_img01.jpg"
              alt=""
              class="objectCover">
          </picture>
        </figure>
      </div>
    </div>
  </div>
  <div class="box02_wrap_bg">
    <div class="repair04_inner">
      <div class="box02_wrap">
        <div class="top_heading fadein">
          <span class="en_h en">REPAIR MENU</span>
          <h3>
            <span>有償修理について</span>
          </h3>
          <p>
            家具全般に起こるガタつきや折れ、ヒビ割れといった木部の破損修理から テーブルの塗装剥がれ・再塗装などの塗装修理。 さらに、椅子やソファーの座面張替え修理など、幅広くご対応しています。
            まずは期間と費用をお見積もりしますので、ご相談ください。
          </p>
        </div>
        <div class="box02">
          <div class="txt fadein">
            <div class="heading">
              <span class="en_h en">TABLE</span>
              <h4>テーブルの天板修理・塗装</h4>
            </div>
            <p class="txt01">
              ガラス天板の作成やウレタン塗装を承っています。ウレタン塗装は分厚く硬い塗膜を巻く事で、水に強く、傷や汚れが付きにくい効果があります。取り扱いがしやすく、清潔感も高まるため、お店の什器や普段よく使われるテーブルにオススメしています。
            </p>
            <p class="txt02">※一方で、木の風合いではなく、加工された人工的な質感となります点にご留意ください。</p>
            <div class="table_wrap">
              <h5>修理 参考価格</h5>
              <div class="table">
                <div class="item">
                  <div class="left">
                    <p class="left_txt01 w01">天板塗り直し</p>
                    <p class="left_txt02 lh01">￥16,500～<span>50×50cm程度</span><br>￥44,000～<span>150×80cm程度</span>
                    </p>
                  </div>
                </div>
                <div class="item">
                  <div class="left flex">
                    <p class="left_txt01 w01">テーブル脚カット</p>
                    <p class="left_txt02 ml01">￥4,400～</p>
                  </div>
                </div>
                <div class="item block">
                  <div class="left flex">
                    <p class="left_txt01 w01">ガラス天板製作</p>
                    <p class="left_txt02 ml01">￥7,700</p>
                  </div>
                  <div class="right">
                    <p>写真のサイズ・形 の場合</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="figure_wrap fadein">
            <figure>
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair04_img02.jpg" alt="">
            </figure>
          </div>
        </div>
        <div class="box02 re">
          <div class="txt fadein">
            <div class="heading">
              <span class="en_h en">CHAIR</span>
              <h4>椅子のファブリック張替え</h4>
            </div>
            <p class="txt01">
              椅子やクッションの張替えを承っています。 お好きな生地をお選び頂けます。また張り替えと同時に、椅子の座面のバネの交換や、ウレタンクッションに変更する事も可能です。
            </p>
            <div class="table_wrap adjust01">
              <h5 class="fsz14">修理 参考価格</h5>
              <div class="table">
                <div class="item">
                  <div class="left">
                    <p class="left_txt01 w02 fsz14 mb01">座面張替え</p>
                    <p class="left_txt02 fsz14">￥19,000~<br><span>バネ調整orウレタンクッション・生地代・<br>フリンジ代等込み</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="figure_wrap fadein">
            <figure>
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair04_img03.jpg" alt="">
            </figure>
            <figure>
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair04_img04.jpg" alt="">
            </figure>
          </div>
        </div>
        <div class="box02 adjust02">
          <div class="txt fadein">
            <div class="heading">
              <span class="en_h en">CASTER</span>
              <h4>キャスター取り付け</h4>
            </div>
            <p class="txt01">
              キャスターの取り付けを承っています。 少し重いアンティークチェアやテーブルも、キャスターをつけることで快適にお使いいただけます。
              ※キャスターはサイズの合うアンティーク調の新品部品を使用しています。また、キャスターをつけることができない商品もございますので、ご購入前に一度ご相談ください。
            </p>
            <div class="table_wrap">
              <h5 class="fsz14">修理 参考価格</h5>
              <div class="table">
                <div class="item">
                  <div class="left">
                    <p class="left_txt01 w03 mb01 mr01">ダイニングテーブルキャスター取り付け</p>
                    <p class="left_txt02 lh01">￥7,700～<br><span>(キャスター代込み)</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="figure_wrap fadein">
            <figure class="w50">
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair04_img05.jpg" alt="">
            </figure>
            <figure>
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair04_img06.jpg" alt="">
            </figure>
          </div>
        </div>
        <div class="box02 re">
          <div class="txt fadein">
            <div class="heading">
              <span class="en_h en">FABRIC</span>
              <h4>ファブリック・クロス張替え</h4>
            </div>
            <p class="txt01">
              椅子のファブリックやキャビネットのクロスの張替えを承っています。
              お客様のお好きな生地をお持ち込みいただくか、豊富な種類のサンプルスワッチよりお気に入りの生地を選んでいただいてから、張替えをご対応させていただいております。
            </p>
            <p class="txt02 adjust03">
              ※本来アンティーク家具のファブリックやクロスは、そのものの風合いを生かすため張替えをしておりません。ご希望の場合のみ、アンティーク家具を「自分だけのお気に入り」に仕上げさせていただきます。張替え作業には約1か月程度のお時間をいただきます。
            </p>
          </div>
          <div class="figure_wrap fadein">
            <figure>
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/repair04_img07.jpg" alt="">
            </figure>
          </div>
        </div>
        <div class="box02_last">
          <div class="heading fadein">
            <span class="en_h en">OTHERS</span>
            <h4>その他修理</h4>
          </div>
          <div class="table_wrap fadein">
            <h5>修理 参考価格</h5>
            <div class="table">
              <div class="item">
                <div class="inner">
                  <p class="w01">脚カット</p>
                  <p>￥2,750～ / 1脚につき</p>
                </div>
                <div class="inner">
                  <p class="w01 mb01">取っ手交換</p>
                  <p class="lh01">￥1,650～ / 1か所につき<br class="is_sp"><span class="small">（※金具代は別途）</span>
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="inner">
                  <p class="w02">キャビネット内部のクロスの張替え</p>
                  <p class="nowrap">￥20,000～</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ リペア&メンテナンス04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ リペア&メンテナンス05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="repair05 contact_area">
  <div class="contact_area_inner">
    <div class="section_title white horizontal">
      <span class="en">contact</span>
      <h2>コンタクト</h2>
    </div>
    <p>商品や修理、レンタルに関する<br class="is_sp">お問い合わせなど <br class="is_sp">お気軽にお問い合わせください。</p>
    <a href="/pages/contact"><img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_mail.svg" alt="">お問合せフォーム</a>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ リペア&メンテナンス05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ チャット・検索・TEL ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<div class="chat">
  <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_chat.svg" alt="">
  <span class="en">chat</span>
</div>
<div class="side_act">
  <div class="act tel">
    <span class="act_txt en">tel</span>
    <div class="act_inner">
      <span class="icon" id="open01">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_tel.svg" alt="">
      </span>
      <a
        href="tel:078-224-5444"
        class="inner en"
        id="inner01">
        <p class="tel_number">078-224-5444</p>
        <p class="time">10:00 - 17:00</p>
      </a>
    </div>
  </div>
  <div class="act search">
    <span class="act_txt en">search</span>
    <div class="act_inner">
      <span class="icon" id="open02">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_search.svg" alt="">
      </span>
      <div class="inner" id="inner02">
        <form
          action="{{ routes.search_url }}"
          method="get"
          role="search"
          class="search">
          <div class="field">
            <input
              class="search__input field__input"
              id="Search-In-Template"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="サイト内を検索"
              {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-list"
              aria-controls="predictive-search-results-list"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
              {%- endif -%}>
            <input
              name="options[prefix]"
              type="hidden"
              value="product">
            {%- if settings.predictive_search_enabled -%}
              <div
                class="predictive-search predictive-search--search-template"
                tabindex="-1"
                data-predictive-search>
                <div class="predictive-search__loading-state">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    class="spinner"
                    viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle
                      class="path"
                      fill="none"
                      stroke-width="6"
                      cx="33"
                      cy="33"
                      r="30"></circle>
                </svg>
              </div>
            </div>
            <span
              class="predictive-search-status visually-hidden"
              role="status"
              aria-hidden="true"></span>
          {%- endif -%}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ チャット・検索・TEL ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->