<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 送料について ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="delivery_charge01">
  <h1>送料について</h1>
  <p>この商品に該当する配送方法を選択してご確認ください。</p>
  <div class="box_form">
    <form>
      <label>
        <select id="changeSelect1">
          <option value="0">ゆうパック60サイズ</option>
          <option value="1">ゆうパック100サイズ</option>
          <option value="2">宅急便コンパクト</option>
          <option value="3">ヤマトホームコンビニエンス Aサイズ</option>
          <option value="4">ヤマトホームコンビニエンス Bサイズ</option>
          <option value="5">ヤマトホームコンビニエンス Cサイズ</option>
          <option value="6">ヤマトホームコンビニエンス Dサイズ</option>
          <option value="7">ヤマトホームコンビニエンス Eサイズ</option>
          <option value="8">ヤマトホームコンビニエンス Fサイズ</option>
          <option value="9">ヤマトホームコンビニエンス Gサイズ</option>
          <option value="10">ヤマトホームコンビニエンス Sサイズ</option>
          <option value="11">ヤマト宅急便120サイズ</option>
          <option value="12">ヤマト宅急便140サイズ</option>
          <option value="13">ヤマト宅急便160サイズ</option>
          <option value="14">ヤマト宅急便180サイズ</option>
          <option value="15">ヤマト宅急便200サイズ</option>
        </select>
      </label>
    </form>
  </div>
  <div class="boxArea">
    <!--ゆうパック60サイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">1,540円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">1,100円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">1,100円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">1,100円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">1,100円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">1,100円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">1,100円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">810円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">870円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">970円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">1,350円</td>
        </tr>
      </table>
    </div>
    <!--ゆうパック100サイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">2,000円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">1,560円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">1,560円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">1,560円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">1,560円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">1,560円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">1,560円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">1,280円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">1,330円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>

          <td class="head">宮崎県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">1,440円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">1,900円</td>
        </tr>
      </table>
    </div>
    <!--宅急便コンパクト-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">990円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">770円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">770円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">720円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">770円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">720円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">720円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">610円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">660円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">830円</td>
        </tr>
      </table>
    </div>
    <!--ヤマトホームコンビニエンス Aサイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">4,840円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">3,850円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">3,850円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">3,630円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">3,850円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">3,630円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">3,520円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">3,520円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">3,520円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">3,410円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">3,410円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">3,410円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">3,410円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">3,410円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">3,300円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">3,520円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">3,300円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>

          <td class="head">鳥取県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">3,300円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">3,190円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">3,520円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">3,520円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">3,520円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">3,520円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">3,520円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">3,630円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">3,630円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">4,950円</td>
        </tr>
      </table>
    </div>
    <!--ヤマトホームコンビニエンス Bサイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">8,140円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">6,380円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">6,160円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">5,940円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">6,270円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">5,940円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">5,720円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">5,500円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">5,500円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">5,390円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">5,390円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">5,390円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">5,390円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">5,390円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">4,730円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">5,500円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">4,730円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">4,620円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">4,620円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">4,510円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">4,400円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">4,620円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">4,510円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">4,400円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">4,400円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">4,400円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">4,400円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">4,400円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">4,400円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">4,400円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">4,400円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">4,510円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">4,400円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">4,620円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">4,730円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">4,510円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">4,510円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">4,620円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">4,620円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">5,500円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">5,500円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">5,720円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">5,720円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">5,500円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">5,940円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">5,940円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">8,470円</td>
        </tr>
      </table>
    </div>
    <!--ヤマトホームコンビニエンス Cサイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">15,785円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">12,485円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">11,275円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">9,845円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">11,935円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">9,845円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">9,515円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">9,185円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">9,185円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">8,855円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">8,855円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">8,855円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">8,855円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">8,855円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">8,415円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">9,185円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">8,415円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">8,085円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">8,085円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">7,755円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">7,535円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">8,085円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">7,755円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">7,535円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">7,535円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">7,535円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">7,535円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">7,535円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">7,535円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">7,535円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">7,535円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">7,755円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">7,535円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">8,085円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">8,415円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">7,755円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">7,755円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">8,085円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">8,085円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">9,185円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">9,185円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">9,515円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">9,515円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">9,185円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">9,845円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">9,845円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">16,005円</td>
        </tr>
      </table>
    </div>
    <!--ヤマトホームコンビニエンス Dサイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">23,705円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">17,435円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">16,555円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">15,565円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">16,885円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">15,565円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">14,575円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">13,475円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">13,475円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">12,375円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">12,375円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">12,375円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">12,375円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">12,375円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">11,495円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">13,475円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">11,495円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">11,275円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">11,275円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">11,055円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">10,945円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">11,275円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">11,055円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">10,945円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">10,945円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">10,945円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">10,945円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">10,945円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">10,945円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">10,945円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">10,945円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">11,055円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">10,945円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">11,275円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">11,495円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">11,055円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">11,055円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">11,275円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">11,275円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">13,475円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">13,475円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">14,575円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">14,575円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">13,475円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">15,565円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">15,565円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">24,485円</td>
        </tr>
      </table>
    </div>
    <!--ヤマトホームコンビニエンス Eサイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">36,025円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">28,655円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">25,575円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">24,035円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">26,235円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">24,035円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">22,935円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">21,285円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">21,285円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">21,285円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">19,525円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">19,525円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">19,525円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">19,525円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">17,875円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">21,285円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">17,875円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">17,105円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">17,105円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">16,775円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">16,555円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">17,105円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">16,775円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">16,555円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">16,555円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">16,555円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">16,555円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">16,555円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">16,555円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">16,555円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">16,555円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">16,775円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">16,555円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">17,105円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">17,875円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">16,775円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">16,775円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">17,105円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">17,105円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">21,285円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">21,285円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">22,935円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">22,935円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">21,285円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">24,035円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">24,035円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">38,225円</td>
        </tr>

      </table>
    </div>
    <!--ヤマトホームコンビニエンス Fサイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">47,685円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">35,225円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">33,165円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">30,415円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">34,155円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">30,415円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">29,865円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">28,105円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">28,105円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">26,345円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">26,345円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">26,345円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">26,345円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">26,345円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">24,585円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">28,105円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">24,585円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">24,035円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">24,035円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">23,705円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">23,375円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">24,035円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">23,705円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">23,375円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">23,375円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">23,375円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">23,375円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">23,375円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">23,375円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">23,375円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">23,375円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">23,705円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">23,375円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">24,035円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">24,585円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">23,705円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">23,705円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">24,475円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">24,475円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">28,105円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">28,105円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">29,865円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">29,865円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">28,105円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">30,415円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">30,415円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">お問い合わせください</td>
        </tr>
      </table>
    </div>
    <!--ヤマトホームコンビニエンス Gサイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">60,775円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">46,035円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">43,285円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">40,315円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">44,825円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">40,315円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">38,225円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">36,586円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">36,245円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">34,265円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">34,265円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">34,265円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">34,265円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">34,265円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">32,615円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">36,586円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">32,615円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">31,845円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">31,845円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">30,965円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">30,195円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">31,845円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">30,965円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">30,195円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">30,195円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">30,195円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">30,195円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">30,195円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">30,195円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">30,195円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">30,195円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">30,965円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">30,195円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">31,845円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">32,615円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">31,625円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">31,625円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">32,505円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">32,505円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">36,245円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">36,245円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">38,225円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">38,225円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">36,345円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">40,315円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">40,315円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">お問い合わせください</td>
        </tr>
      </table>
    </div>
    <!--ヤマトホームコンビニエンス Sサイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">2,970円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">2,640円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">2,640円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">2,530円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">2,640円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">2,530円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">2,200円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">2,420円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">2,530円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">2,530円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">3,740円</td>
        </tr>
      </table>
    </div>
    <!--ヤマト宅急便120-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">2,380円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">1,940円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">1,940円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">1,830円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">1,940円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">1,830円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">1,830円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">1,610円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">1,720円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">3,040円</td>
        </tr>
      </table>
    </div>
    <!--ヤマト宅急便140サイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">2,620円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">1,850円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">1,960円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">3,610円</td>
        </tr>
      </table>
    </div>
    <!--ヤマト宅急便160サイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">2,290円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">2,290円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">2,290円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">2,070円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">2,180円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">4,160円</td>
        </tr>
      </table>
    </div>
    <!--ヤマト宅急便180サイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">3,170円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">2,730円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">2,730円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">2,620円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">2,730円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">2,620円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">2,620円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">2,400円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">2,510円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">4,710円</td>
        </tr>
      </table>
    </div>
    <!--ヤマト宅急便200サイズ-->
    <div class="box">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>エリア</th>
          <th>料金</th>
        </tr>
        <tr>
          <td class="head">北海道</td>
          <td class="price">3,610円</td>
        </tr>
        <tr>
          <td class="head">青森県</td>
          <td class="price">3,170円</td>
        </tr>
        <tr>
          <td class="head">岩手県</td>
          <td class="price">3,170円</td>
        </tr>
        <tr>
          <td class="head">宮城県</td>
          <td class="price">3,060円</td>
        </tr>
        <tr>
          <td class="head">秋田県</td>
          <td class="price">3,170円</td>
        </tr>
        <tr>
          <td class="head">山形県</td>
          <td class="price">3,060円</td>
        </tr>
        <tr>
          <td class="head">福島県</td>
          <td class="price">3,060円</td>
        </tr>
        <tr>
          <td class="head">茨城県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">栃木県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">群馬県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">埼玉県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">千葉県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">東京都</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">神奈川県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">山梨県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">新潟県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">長野県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">富山県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">石川県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">福井県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">岐阜県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">静岡県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">愛知県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">三重県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">滋賀県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">京都府</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">大阪府</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">兵庫県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">奈良県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">和歌山県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">鳥取県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">島根県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">岡山県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">広島県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">山口県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">徳島県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">香川県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">愛媛県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">高知県</td>
          <td class="price">2,840円</td>
        </tr>
        <tr>
          <td class="head">福岡県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">佐賀県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">長崎県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">熊本県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">大分県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">宮崎県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">鹿児島県</td>
          <td class="price">2,950円</td>
        </tr>
        <tr>
          <td class="head">沖縄県</td>
          <td class="price">5,260円</td>
        </tr>
      </table>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 送料について ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->

<script>
  // 配送料切り替え
  var select = document.getElementById('changeSelect1');
  select.addEventListener('change', function() {
    var boxes = document.getElementsByClassName('box');
    var val = this.value;
    for (var i = 0; i < boxes.length; i++) {
      boxes[i].style.display = (i === parseInt(val))
        ? 'block'
        : 'none';
    }
  });
</script>