<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ショップコーディネート01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="shop_cordinate01 lower_mv">
  <figure>
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_2dc6e110-3114-4a57-968b-d010fa5efef5.jpg" media="(min-width: 768px)" />
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_sp_cd442215-021d-434a-a95f-c5ef6d4f8f2f.jpg" media="(max-width: 767px)" />
      <img
        src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_2dc6e110-3114-4a57-968b-d010fa5efef5.jpg?"
        alt=""
        class="objectCover">
    </picture>
  </figure>
  <div class="lower_mv_txt">
    <span class="en_h en">SHOP CORDINATE</span>
    <h1>
      <span>ショップコーディネート</span>
    </h1>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ショップコーディネート01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ショップコーディネート02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="shop_cordinate02">
  <div class="breadcrumbs">
    <ol
      itemscope
      itemtype="https://schema.org/BreadcrumbList"
      class="en">
      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/">
          <span itemprop="name">top</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>

      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <span itemprop="name">SHOP CORDINATE</span>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </div>
  <div class="shop_cordinate02_inner">
    <div class="figure_wrap">
      <figure class="fadein">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate02_img01.jpg" media="(min-width: 768px)" />
          <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate02_img01_sp.jpg" media="(max-width: 767px)" />
          <img
            src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate02_img01.jpg"
            alt=""
            class="objectCover">
        </picture>
      </figure>
      <div class="illust01 is_pc">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate02_illust01.svg" alt="">
      </div>
      <div class="illust02 is_pc">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate02_illust02.svg" alt="">
      </div>
    </div>
    <div class="txt fadein">
      <h2 class="en">SHOP CORDINATE</h2>
      <h3>法人様のお客様が 新規出店やオフィスの改装をされる際の「インテリアコーディネート」を承っています。<br class="is_pc">法人様とのお取引も積極的に行っております。
      </h3>
      <p>
        KOBE ANTIQUE
        WAREHOUSEの魅力のひとつが、アンティーク家具やヴィンテージアイテムの豊富な在庫数。その数は1000を超えるほどです。オーナー自らイギリスへ直接買い付けに行き、自社コンテナで大量に仕入れることで質の良い本物のアンティークを、比較的リーズナブルな価格にてご提供しています。
      </p>
      <div class="box">
        <h4>お取り置きについて</h4>
        <p>通常のお取り置き期間は1週間となりますが、ビジネスユースのお客様には状況等により、期限延長のご対応を承っております。<br>
          社内会議や稟議にお時間を有する場合でも、安心してお取り置きをして頂けます。お気軽にご相談ください。</p>
      </div>
    </div>
    <div class="illust_wrap is_sp">
      <div class="illust01 is_sp">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate02_illust01.svg" alt="">
      </div>
      <div class="illust02 is_sp">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate02_illust02.svg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ショップコーディネート02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ショップコーディネート03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="shop_cordinate03">
  <div class="shop_cordinate03_inner">
    <div class="txt fadein">
      <div class="heading">
        <p class="en_h en">SUGGEST</p>
        <h2>お客様のニーズに沿った<br>アンティークをご提案</h2>
      </div>
      <p>
        アパレル店舗などのショップ、飲食店、オフィスなど、様々な業種・業態での利用シーンをお伺いし、家具から雑貨まで幅広い在庫よりご提案させていただきます。<br>実用的なものから、レアなもの、アーコールやG-PLANなどの人気ブランド、エレガントから男前なもの、幅広いジャンルの家具や雑貨を取り揃えております。
      </p>
    </div>
    <div class="box fadein">
      <div class="item">
        <div class="figure_wrap">
          <span class="figure_number en">SUGGEST / 01</span>
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img01.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img01_sp.jpg" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img01.jpg" alt="">
            </picture>
          </figure>
        </div>
        <div class="item_txt">
          <span class="en_h en">APPAREL</span>
          <h3>アパレル</h3>
          <p>アンティークの陳列台がおしゃれなアイテムを引き立てます。</p>
        </div>
      </div>
      <div class="item">
        <div class="figure_wrap">
          <span class="figure_number en">SUGGEST / 02</span>
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img02.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img02_sp.jpg" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img02.jpg" alt="">
            </picture>
          </figure>
        </div>
        <div class="item_txt">
          <span class="en_h en">BAR / CAFE</span>
          <h3>バー・カフェ</h3>
          <p>クラシカルなバーから純喫茶風のカフェにもご活用いただけます。</p>
        </div>
      </div>
      <div class="item">
        <div class="figure_wrap">
          <span class="figure_number en">SUGGEST / 03</span>
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img03.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img03_sp.jpg" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img03.jpg" alt="">
            </picture>
          </figure>
        </div>
        <div class="item_txt">
          <span class="en_h en">RECORD SHOP</span>
          <h3>レコードショップ</h3>
          <p>こだわりのレコードコレクションを沢山陳列することができるキャビネットもございます。</p>
        </div>
      </div>
      <div class="item">
        <div class="figure_wrap">
          <span class="figure_number en">SUGGEST / 04</span>
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img04.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img04_sp.jpg" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img04.jpg" alt="">
            </picture>
          </figure>
        </div>
        <div class="item_txt">
          <span class="en_h en">ACCESSARY</span>
          <h3>アクセサリーや雑貨</h3>
          <p>アクセサリーやメガネ、時計などの陳列にあうショーケースも充実しています。</p>
        </div>
      </div>
      <div class="item">
        <div class="figure_wrap">
          <span class="figure_number en">SUGGEST / 05</span>
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img05.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img05_sp.jpg" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img05.jpg" alt="">
            </picture>
          </figure>
        </div>
        <div class="item_txt">
          <span class="en_h en">ACCESSARY</span>
          <h3>アクセサリーや雑貨</h3>
          <p>商品の陳列に花を添えるアンティーク雑貨も多数取り揃えております。</p>
        </div>
      </div>
      <div class="item">
        <div class="figure_wrap">
          <span class="figure_number en">SUGGEST / 06</span>
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img06.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img06_sp.jpg" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate03_img06.jpg" alt="">
            </picture>
          </figure>
        </div>
        <div class="item_txt">
          <span class="en_h en">OFFICE</span>
          <h3>オフィス</h3>
          <p>無機質になりがちなオフィスにもアンティーク家具で重厚感と華やかさを演出できます。</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ショップコーディネート03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ショップコーディネート04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="shop_cordinate04">
  <div class="shop_cordinate04_inner">
    <div class="box_wrap">
      <div class="heading">
        <h2 class="en fadein">CUSTOMER CASE</h2>
        <h3 class="fadein">様々なお客様にご利用いただいています</h3>
        <p class="fadein">
          アパレル店舗、飲食店、様々なお客様の店頭やオフィスでアンティーク家具をご活用いただいています。ガラス天板の作成など、用途に応じた修理も承っております。
        </p>
      </div>
      <div class="box">
        <div class="item fadein">
          <div class="figure_wrap">
            <span class="case en">CUSTOMER CASE-1</span>
            <figure>
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate04_img01.jpg" media="(min-width: 768px)" />
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate04_img01_sp.jpg" media="(max-width: 767px)" />
                <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate04_img01.jpg" alt="">
              </picture>
            </figure>
          </div>
          <div class="txt">
            <h3>お洒落で優雅な空間に…</h3>
            <p>
              心斎橋のインポートランジェリーショップ
              「レジア」様で、サイドボードとキドニーデスク、ミュージックチェストをお使いいただいております。お洒落なアンティーク家具は、ラグジュアリーな商品を選びながら優雅な一時を過ごせる素敵な空間を演出します。そのほかにも、当ショップでは華奢で女性らしいイメージの家具や雑貨も多く取り揃えております。
            </p>
          </div>
        </div>
        <div class="item re fadein">
          <div class="figure_wrap">
            <span class="case en">CUSTOMER CASE-2</span>
            <figure>
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate04_img02.jpg" media="(min-width: 768px)" />
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate04_img02_sp.jpg" media="(max-width: 767px)" />
                <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate04_img02.jpg" alt="">
              </picture>
            </figure>
          </div>
          <div class="txt">
            <h3>飲食店、カフェに…</h3>
            <p>
              北長堀「Cafe CREDO
              (カフェクレド)」様で、丸いカフェテーブルとツインテーブル、チェアをお使いいただいています。アンティーク家具で落ち着いた雰囲気でくつろぎの空間を演出しました。また、ディスプレイ小物も数多くご用意しております。
            </p>
          </div>
        </div>
        <div class="item fadein">
          <div class="figure_wrap">
            <span class="case en">CUSTOMER CASE-3</span>
            <figure>
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate04_img03.jpg" media="(min-width: 768px)" />
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate04_img03_sp.jpg" media="(max-width: 767px)" />
                <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate04_img03.jpg" alt="">
              </picture>
            </figure>
          </div>
          <div class="txt">
            <h3>アパレル店舗、<br>アクサリーショップに…</h3>
            <p>
              個性あふれるデザインが魅力の「Good Mood
              design」様。で、ディスプレイキャビネットをお使い頂いております。素敵なジュエリーを引き立てるディスプレイキャビネットをはじめ、落ち着いた木味のアンティーク家具は、上品な世界観を作り出してくれるお手伝いをしてくれるはずです。
            </p>
          </div>
        </div>
        <div class="item re fadein">
          <div class="figure_wrap">
            <span class="case en">CUSTOMER CASE-4</span>
            <figure>
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate04_img04.jpg" media="(min-width: 768px)" />
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate04_img04_sp.jpg" media="(max-width: 767px)" />
                <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_cordinate04_img04.jpg" alt="">
              </picture>
            </figure>
          </div>
          <div class="txt">
            <h3>オフィスに…</h3>
            <p>
              オフィス什器としてアンティーク家具をお使いいただくことで、無機質なオフィスとは全く違う落ち着きと温かみが生まれます。チェアやデスクはもちろん実用的なキャビネットもございます。お客様をお迎えするエントランスなどのインテリアにもオススメです。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ショップコーディネート04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ショップコーディネート05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="shop_cordinate05 contact_area">
  <div class="contact_area_inner">
    <div class="section_title white horizontal">
      <span class="en">contact</span>
      <h2>コンタクト</h2>
    </div>
    <p>商品や修理、レンタルに関する<br class="is_sp">お問い合わせなど <br class="is_sp">お気軽にお問い合わせください。</p>
    <a href="/pages/contact"><img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_mail.svg" alt="">お問合せフォーム</a>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ショップコーディネート05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ チャット・検索・TEL ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<div class="chat">
  <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_chat.svg" alt="">
  <span class="en">chat</span>
</div>
<div class="side_act">
  <div class="act tel">
    <span class="act_txt en">tel</span>
    <div class="act_inner">
      <span class="icon" id="open01">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_tel.svg" alt="">
      </span>
      <a
        href="tel:078-224-5444"
        class="inner en"
        id="inner01">
        <p class="tel_number">078-224-5444</p>
        <p class="time">10:00 - 17:00</p>
      </a>
    </div>
  </div>
  <div class="act search">
    <span class="act_txt en">search</span>
    <div class="act_inner">
      <span class="icon" id="open02">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_search.svg" alt="">
      </span>
      <div class="inner" id="inner02">
        <form
          action="{{ routes.search_url }}"
          method="get"
          role="search"
          class="search">
          <div class="field">
            <input
              class="search__input field__input"
              id="Search-In-Template"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="サイト内を検索"
              {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-list"
              aria-controls="predictive-search-results-list"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
              {%- endif -%}>
            <input
              name="options[prefix]"
              type="hidden"
              value="product">
            {%- if settings.predictive_search_enabled -%}
              <div
                class="predictive-search predictive-search--search-template"
                tabindex="-1"
                data-predictive-search>
                <div class="predictive-search__loading-state">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    class="spinner"
                    viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle
                      class="path"
                      fill="none"
                      stroke-width="6"
                      cx="33"
                      cy="33"
                      r="30"></circle>
                </svg>
              </div>
            </div>
            <span
              class="predictive-search-status visually-hidden"
              role="status"
              aria-hidden="true"></span>
          {%- endif -%}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ チャット・検索・TEL ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->