<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ レンタル01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="rental01 lower_mv">
  <figure>
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_88d1388f-f8af-4ba5-a6ff-4793e01e2fbb.jpg" media="(min-width: 768px)" />
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_sp_0f4c1e7d-146d-4701-989b-7ad7e3b25bb7.jpg" media="(max-width: 767px)" />
      <img
        src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_88d1388f-f8af-4ba5-a6ff-4793e01e2fbb.jpg"
        alt=""
        class="objectCover">
    </picture>
  </figure>
  <div class="lower_mv_txt">
    <span class="en_h en">RENTAL</span>
    <h1>
      <span>レンタル</span>
    </h1>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ レンタル01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ レンタル02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="rental02">
  <div class="breadcrumbs">
    <ol
      itemscope
      itemtype="https://schema.org/BreadcrumbList"
      class="en">
      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/">
          <span itemprop="name">top</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>

      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <span itemprop="name">RENTAL</span>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </div>
  <div class="rental02_inner">
    <div class="txt fadein">
      <h2 class="en">RENTAL</h2>
      <h3>
        一部のアンティーク家具・雑貨を対象に<br class="is_pc">撮影やイベントにご利用いただける<br class="is_pc">「レンタルサービス」を行なっています。
      </h3>
      <p>
        「映画やドラマの撮影」「期間限定イベントでのディスプレイ」など、短期・長期問わず、さまざまなご要望に柔軟に対応しています。<br>また、使用したい家具や撮影シチュエーションといった要件をご相談いただければ、イメージに合う雑貨類も合わせてご提案も致します。まずは、お気軽にお問合せください。
      </p>
      <div class="illust01">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/rental02_illust01.svg" alt="">
      </div>
      <div class="illust02">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/rental02_illust02.svg" alt="">
      </div>
    </div>
    <figure class="fadein">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/rental02_img01.jpg" media="(min-width: 768px)" />
        <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/rental02_img01_sp.jpg" media="(max-width: 767px)" />
        <img
          src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/rental02_img01.jpg"
          alt=""
          class="objectCover">
      </picture>
    </figure>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ レンタル02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ レンタル03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="rental03">
  <div class="rental03_inner">
    <div class="item fadein">
      <div class="heading">
        <span class="en_h en">ITEMS</span>
        <h2>レンタルサービスの主な対象</h2>
      </div>
      <div class="item_inner pb01">
        <ul class="list01">
          <li class="mr01">椅子やテーブル</li>
          <li class="mr01">大きな聖書本</li>
          <li class="mr01">その他ガラス面のついていない小型家具</li>
        </ul>
        <ul class="list02">
          <li>ご希望等ございましたら、一度お問合せください。</li>
        </ul>
      </div>
    </div>
    <div class="item fadein">
      <div class="heading">
        <span class="en_h en">PRICE</span>
        <h2>レンタル料金</h2>
      </div>
      <div class="item_inner pb02">
        <ul class="list01">
          <li class="mr02">1day〜3days ：10％</li>
          <li class="mr02">4days〜6days ：15％</li>
          <li class="mr02">1week～2week ：20％<span><br class="is_sp">(商品上代より)</span>
          </li>
        </ul>
        <ul class="list02 mt01">
          <li>税込み3,300円以下の商品は、レンタル対象外となります。</li>
          <li>レンタル料金は変更する場合がございます。予めご了承ください。</li>
          <li>上記期間を超える期間のレンタルにつきましてはご相談ください。</li>
          <li>複数の家具、雑貨をまとめてレンタルの場合は、一度お見積りを取らせていただきます。</li>
          <li>デポジット料金として、商品価格を先払いで頂戴する場合がございます。</li>
        </ul>
      </div>
    </div>
    <div class="item fadein">
      <div class="heading pb03">
        <span class="en_h en">TERMS</span>
        <h2>ご利用方法</h2>
      </div>
      <div class="item_inner pd02">
        <h3>【ご利用条件と注意事項】</h3>
        <ul class="list03">
          <li>初めてのご利用の際に、身分証明書（運転免許証、パスポート等）のコピーを取らせていただきますので、必ずご持参ください。</li>
          <li>ご自身で神戸倉庫または芦屋店舗へご来店いただき、梱包作業から配送、ご返却まで行っていただける方を対象としています。</li>
          <li>税込み3,300円以下の商品についてはレンタル対象外のため、お買取りのみとなります。</li>
        </ul>
      </div>
    </div>
    <div class="item fadein">
      <div class="item_inner pd04">
        <h3>【商品の受け渡しと返却について】</h3>
        <ul class="list03 mt01">
          <li>神戸倉庫または芦屋店舗へご来店ください。梱包作業から配送、ご返却までご自身で行っていただいています。</li>
          <li>受け渡し、ご返却は、当店営業時間内にお願い致します。</li>
          <li>商品の梱包資材等はお客様でご準備ください。</li>
          <li>取りに来るのが難しい場合はご相談ください。</li>
          <li>配送も可能ですが、その場合は「送料＋梱包費」を頂戴します。</li>
        </ul>
      </div>
    </div>
    <div class="item fadein">
      <div class="item_inner pd04">
        <h3>【商品破損の場合について】</h3>
        <ul class="list01 mt01">
          <li class="fsz01">商品が破損してしまった場合</li>
        </ul>
        <p class="mt02">状態が復元できる場合は、「レンタル料金＋修理費用」を頂戴します。<br>状態の復元が難しい場合は、「商品代金×100％」を頂戴します。</p>
        <ul class="list01 mt02">
          <li class="fsz01">目立った傷が入ってしまった場合</li>
        </ul>
        <p class="mb01">修理費用を別途頂戴いたします。</p>
        <ul class="list02">
          <li class="mb01 lh">破損や傷などが発生した場合については、必ずご返却時にご報告ください。
          </li>
          <li class="lh">ご返却後の商品を弊社にて点検した際に、修理を要する傷や破損と判断した場合にはご連絡いたします。<br>その他ご不明な点等ございましたら、お気軽にお問合せください。
            お問合せは、メールよりお願い致します。</li>
        </ul>
        <div class="info">
          <p class="txt01">《お問合せ先》</p>
          <div class="inner">
            <p>神戸アンティークウェアハウス<br>mail：info@kobeantique.com</p>
            <ul class="list02">
              <li>メールにご希望商品の管理番号、レンタル期間、使用目的を記載していただきますようお願い致します。</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ レンタル03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ レンタル04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="rental04 contact_area">
  <div class="contact_area_inner">
    <div class="section_title white horizontal">
      <span class="en">contact</span>
      <h2>コンタクト</h2>
    </div>
    <p>商品や修理、レンタルに関する<br class="is_sp">お問い合わせなど <br class="is_sp">お気軽にお問い合わせください。</p>
    <a href="/pages/contact"><img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_mail.svg" alt="">お問合せフォーム</a>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ レンタル04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ チャット・検索・TEL ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<div class="chat">
  <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_chat.svg" alt="">
  <span class="en">chat</span>
</div>
<div class="side_act">
  <div class="act tel">
    <span class="act_txt en">tel</span>
    <div class="act_inner">
      <span class="icon" id="open01">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_tel.svg" alt="">
      </span>
      <a
        href="tel:078-224-5444"
        class="inner en"
        id="inner01">
        <p class="tel_number">078-224-5444</p>
        <p class="time">10:00 - 17:00</p>
      </a>
    </div>
  </div>
  <div class="act search">
    <span class="act_txt en">search</span>
    <div class="act_inner">
      <span class="icon" id="open02">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_search.svg" alt="">
      </span>
      <div class="inner" id="inner02">
        <form
          action="{{ routes.search_url }}"
          method="get"
          role="search"
          class="search">
          <div class="field">
            <input
              class="search__input field__input"
              id="Search-In-Template"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="サイト内を検索"
              {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-list"
              aria-controls="predictive-search-results-list"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
              {%- endif -%}>
            <input
              name="options[prefix]"
              type="hidden"
              value="product">
            {%- if settings.predictive_search_enabled -%}
              <div
                class="predictive-search predictive-search--search-template"
                tabindex="-1"
                data-predictive-search>
                <div class="predictive-search__loading-state">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    class="spinner"
                    viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle
                      class="path"
                      fill="none"
                      stroke-width="6"
                      cx="33"
                      cy="33"
                      r="30"></circle>
                </svg>
              </div>
            </div>
            <span
              class="predictive-search-status visually-hidden"
              role="status"
              aria-hidden="true"></span>
          {%- endif -%}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ チャット・検索・TEL ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->