<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 特定商取引法に基づく表示01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<section class="transaction01 lower_mv">
  <figure>
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_339f6ebe-6891-4a2c-826c-e56d4dc99ed8.jpg" media="(min-width: 768px)" />
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_sp_7d1af874-7cea-4ca9-a29e-5d0999f6e51b.jpg" media="(max-width: 767px)" />
      <img
        src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_339f6ebe-6891-4a2c-826c-e56d4dc99ed8.jpg"
        alt=""
        class="objectCover">
    </picture>
  </figure>
  <div class="lower_mv_txt">
    <span class="en_h en">SPECIFIC TRADE LAW</span>
    <h1>
      <span>特定商取引法に基づく表示</span>
    </h1>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 特定商取引法に基づく表示01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<div class="transaction02">
  <div class="breadcrumbs">
    <ol
      itemscope
      itemtype="https://schema.org/BreadcrumbList"
      class="en">
      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/">
          <span itemprop="name">top</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>

      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem">
        <span itemprop="name">特定商取引法に基づく表示</span>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </div>
  <div class="transaction02_in">
    <table>
      <tbody>
        <tr>
          <th>屋号</th>
          <td>神戸アンティークウェアハウス（KOBE ANTIQUE WAREHOUSE）</td>
        </tr>
        <tr>
          <th>運営会社</th>
          <td>株式会社エスアールシー</td>
        </tr>
        <tr>
          <th>運営統括責任者</th>
          <td>新崎 哲雄</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>兵庫県芦屋市公光町4-31 Ghost Castle Ashiya BLDG.</td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>0797-62-8133</td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>info@kobeantique.com</td>
        </tr>
        <tr>
          <th>古物商許可証</th>
          <td>第631101000041号　兵庫県公安委員会</td>
        </tr>
        <tr>
          <th>商品代金以外の必要料金</th>
          <td>
            <ul>
              <li>・銀行振込でご購入の際の振込手数料</li>
              <li>・配送料</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>申し込みの有効期限</th>
          <td>原則、受注確認（受注確認の為の自動送信メール発信）後、5日間とします。</td>
        </tr>
        <tr>
          <th>不良品</th>
          <td>商品到着日から7日間以内に生じました初期不良に付きましては交換もしくは修理にて対応をいたします。</td>
        </tr>
        <tr>
          <th>販売数量</th>
          <td>特に指定はございません（商品によって設定あり）</td>
        </tr>
        <tr>
          <th>引き渡し時期</th>
          <td>配送希望日に関しましては、一部の地域では、日にち、時間帯の指定ができない場合がございます。<br>
            又、集荷の関係でご希望日に沿えない場合がございます。予めご了承の上、1週間程の余裕を持ったご希望<br>日でのご指定をお願いいたします。<br>
            天候不順・配送業者の都合・その他何らかの理由により遅延する場合はメール等でお知らせいたします。</td>
        </tr>
        <tr>
          <th>お支払い方法</th>
          <td>銀行振込・クレジットカード</td>
        </tr>
        <tr>
          <th>お支払い期限</th>
          <td>-銀行振込の場合<br>
            ご注文日より5日以内に当店指定の口座へお振込みください。</td>
        </tr>
        <tr>
          <th>返品期限</th>
          <td>商品の返品・交換には初期不良の場合以外では応じられません。</td>
        </tr>
        <tr>
          <th>返品送料</th>
          <td>初期不良、発送商品間違いの場合、当店着払いにて対応いたします。</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ cta  ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="items03 contact_area">
  <div class="contact_area_inner">
    <div class="section_title white horizontal">
      <span class="en">contact</span>
      <h2>コンタクト</h2>
    </div>
    <p>商品や修理、レンタルに関する<br class="is_sp">お問い合わせなど <br class="is_sp">お気軽にお問い合わせください。</p>
    <a href="/pages/contact"><img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_mail.svg" alt="">お問合せフォーム</a>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ cta ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->