<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ショップ / アクセス01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="shop_access01 lower_mv">
  <figure>
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_c4b8ee00-643f-44d0-87fe-5c5caa64e024.jpg" media="(min-width: 768px)" />
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_sp_b5f6959b-b93b-420b-b2b8-e29bab52eef9.jpg" media="(max-width: 767px)" />
      <img
        src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/mv_c4b8ee00-643f-44d0-87fe-5c5caa64e024.jpg"
        alt=""
        class="objectCover">
    </picture>
  </figure>
  <div class="lower_mv_txt">
    <span class="en_h en">SHOP / ACCESS</span>
    <h1>
      <span>ショップ / アクセス</span>
    </h1>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ショップ / アクセス01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ショップ / アクセス02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="shop_access02">
  <div class="shop_access02_bg">
    <div class="breadcrumbs">
      <ol
        itemscope
        itemtype="https://schema.org/BreadcrumbList"
        class="en">
        <li
          itemprop="itemListElement"
          itemscope
          itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/">
            <span itemprop="name">top</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>

        <li
          itemprop="itemListElement"
          itemscope
          itemtype="http://schema.org/ListItem">
          <span itemprop="name">SHOP / ACCESS</span>
          <meta itemprop="position" content="2" />
        </li>
      </ol>
    </div>
    <div class="shop_access02_inner">
      <div class="box01">
        <div class="txt fadein">
          <h2>神戸アンティークウェアハウス</h2>
          <table>
            <tr class="block">
              <th class="en">ADDRESS</th>
              <td>
                <div class="inner01">
                  <p>〒658-0031 <br class="is_sp">兵庫県神戸市東灘区向洋町東2-7-10<br><span class="small">最寄り駅：六甲アイランド線<br class="is_sp">アイランド北口駅
                      徒歩15分</span>
                  </p>
                  <div class="gmap">
                    <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_gmap.svg" alt="">
                    <a href="https://goo.gl/maps/m7uRsDYEHFkAtCb48" target="_blank">Google map</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th class="en">TEL</th>
              <td>078-224-5444</td>
            </tr>
            <tr>
              <th class="en">OPENING<br>HOURS</th>
              <td>
                <ul class="list01">
                  <li>平日<br>10:00 - 17:00（最終受付16：00）</li>
                  <li>第三土曜日<br class="is_sp">（3rd Sat Warehouse Open
                    day）<br>11：00～18：00（夏季）<br>10：00～17：00（冬季）（※時期により営業時間が異なります）
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <th class="en">CLOSE</th>
              <td>
                <div class="inner02">
                  <p class="inner_txt">土曜日、日曜日、<br class="is_tab">祝日</p>
                  <p class="calender">営業日カレンダー</p>
                </div>
                <p class="footnote">
                  コンテナ搬入、店内商品入れ替えなどの為、臨時休業させていただく場合がございます。<br class="is_pc">遠方よりお越しの際は、新着情報・インスタグラム・お電話などで、<br class="no_br">営業日をご確認いただきますようお願いいたします。
                </p>
              </td>
            </tr>
            <tr>
              <th class="en">ACCESS</th>
              <td>
                <ul class="list02">
                  <li>
                    <p>［電車でお越しの場合］</p>
                    <p>六甲アイランド線<br class="is_sp">アイランド北口駅 徒歩15分</p>
                  </li>
                  <li>
                    <p>［タクシーをご利用の場合］</p>
                    <p>アイランドセンター駅徒歩1分の<br class="is_sp">シェラトンホテルより約5分</p>
                  </li>
                  <li>
                    <p>［お車でお越しの場合］</p>
                    <p>国道●●線から北へ●×、<br class="is_sp">●●交差点より○○メートル。</p>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <th class="en">PARKING</th>
              <td>4台</td>
            </tr>
          </table>
        </div>
        <figure class="fadein">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img01.jpg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img01_sp.jpg" media="(max-width: 767px)" />
            <img
              src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img01.jpg"
              alt=""
              class="objectCover">
          </picture>
        </figure>
      </div>
      <div class="box02">
        <div class="gmap_wrap fadein">
          <figure class="map">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/map.png" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/map_sp.png" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/map.png" alt="">
            </picture>
          </figure>
          <a href="https://goo.gl/maps/m7uRsDYEHFkAtCb48" target="_blank">Google mapで確認する</a>
        </div>
        <div class="figure01 rellax08">
          <figure>
            <p class="figure_title AntroVectra">Invariable<br>Value</p>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img02.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img02_sp.jpg" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img02.jpg" alt="">
            </picture>
          </figure>
        </div>
      </div>
      <div class="box03">
        <div class="figure01 rellax07">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img03.jpg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img03_sp.jpg" media="(max-width: 767px)" />
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img03.jpg" alt="">
          </picture>
        </div>
        <div class="figure02 rellax09">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img04.jpg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img04_sp.jpg" media="(max-width: 767px)" />
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img04.jpg" alt="">
          </picture>
        </div>
        <div class="figure03 rellax08">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img05.jpg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img05_sp.jpg" media="(max-width: 767px)" />
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img05.jpg" alt="">
          </picture>
        </div>
      </div>
      <div class="box04">
        <div class="figure03 rellax06">
          <p class="figure_title AntroVectra is_pc">Welcome to<br><span>Warehouse</span>
          </p>
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img08.jpg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img08_sp.jpg" media="(max-width: 767px)" />
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img08.jpg" alt="">
          </picture>
        </div>

        <div class="figure02 rellax07">
          <p class="figure_title AntroVectra is_sp">Welcome to<br><span>Warehouse</span>
          </p>
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img07.jpg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img07_sp.jpg" media="(max-width: 767px)" />
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img07.jpg" alt="">
          </picture>
        </div>
        <div class="figure01 rellax09">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img06.jpg" media="(min-width: 768px)" />
            <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img06_sp.jpg" media="(max-width: 767px)" />
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access02_img06.jpg" alt="">
          </picture>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ショップ / アクセス02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ショップ / アクセス03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="shop_access03">
  <figure class="section_between">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access_between_bg.jpg" media="(min-width: 768px)" />
      <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access_between_bg_sp.jpg" media="(max-width: 767px)" />
      <img
        src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access_between_bg.jpg"
        alt=""
        class="objectCover">
    </picture>
  </figure>
  <div class="shop_access03_wrap">
    <div class="shop_access03_inner">
      <div class="section_title white horizontal fadein">
        <span class="en">HOW TO VISIT</span>
        <h2>ご来店時の流れ</h2>
      </div>
      <div class="box fadein">
        <div class="item">
          <div class="figure_wrap">
            <span class="flow_number en">FLOW<span class="number">01</span>
            </span>
            <figure>
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_img01.jpg" media="(min-width: 768px)" />
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_img01_sp.jpg" media="(max-width: 767px)" />
                <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_img01.jpg" alt="">
              </picture>
            </figure>
            <span class="arrow">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_arrow.svg" media="(min-width: 768px)" />
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_arrow_sp.svg" media="(max-width: 767px)" />
                <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_arrow.svg" alt="">
              </picture>
            </span>
          </div>
          <div class="txt">
            <p>
              六甲アイランド工業団地北入口前、写真の看板を目印にお越しください。公共交通機関でお越しの際は、六甲アイランド線アイランドセンター駅より徒歩で15分、アイランドセンター駅徒歩1分のシェラトンホテルよりタクシーで5分程です。
            </p>
          </div>
        </div>
        <div class="item">
          <div class="figure_wrap">
            <span class="flow_number en">FLOW<span class="number">02</span>
            </span>
            <figure>
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_img02.jpg" media="(min-width: 768px)" />
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_img02_sp.jpg" media="(max-width: 767px)" />
                <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_img02.jpg" alt="">
              </picture>
            </figure>
            <span class="arrow">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_arrow.svg" media="(min-width: 768px)" />
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_arrow_sp.svg" media="(max-width: 767px)" />
                <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_arrow.svg" alt="">
              </picture>
            </span>
          </div>
          <div class="txt">
            <p>
              お車でお越しのお客様は、来客用駐車場をご使用ください。最大4台分駐車可能です。
            </p>
          </div>
        </div>
        <div class="item">
          <div class="figure_wrap">
            <span class="flow_number en">FLOW<span class="number">03</span>
            </span>
            <figure>
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_img03.jpg" media="(min-width: 768px)" />
                <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_img03_sp.jpg" media="(max-width: 767px)" />
                <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access03_img03.jpg" alt="">
              </picture>
            </figure>
          </div>
          <div class="txt">
            <p>
              こちらの看板が目印です。この案内看板に記載の番号にお電話の上、看板のお近くでお待ちください。係の者が売り場までご案内いたします。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ショップ / アクセス03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ショップ / アクセス04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="shop_access04">
  <div class="shop_access04_inner">

    <div class="heading fadein">
      <span class="en_h en">SERVICE</span>
      <h2>ご来店時のサービス</h2>
    </div>
    <div class="item_wrap fadein">
      <div class="item">
        <div class="figure_wrap">
          <span class="figure_number en">SERVICE / 01</span>
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access04_img01.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access04_img01_sp.jpg" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access04_img01.jpg" alt="">
            </picture>
          </figure>
        </div>
        <div class="txt">
          <div class="txt_h">
            <span class="en_h en">VINYL RECORD</span>
            <h3>レコード再生サービス</h3>
          </div>
          <p>
            倉庫にご来店いただきましたお客様にお好きなレコードをお選びいただき、JBLスピーカーで流させていただくというサービスを開始いたしました。倉庫で歩き疲れたらゆっくり休憩していただきながら、お好きな音楽を聴いていただけます。（レコードは倉庫にあるものの中からお選び頂きます。）
          </p>
        </div>
      </div>
      <div class="item">
        <div class="figure_wrap">
          <span class="figure_number en">SERVICE / 02</span>
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access04_img02.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access04_img02_sp.jpg" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access04_img02.jpg" alt="">
            </picture>
          </figure>
        </div>
        <div class="txt">
          <div class="txt_h">
            <span class="en_h en">RESERVING</span>
            <h3>お取り置きサービス</h3>
          </div>
          <p>
            ご購入いただいた商品に限り、倉庫にて2か月間無料で保管いたします。 リニューアル工事中やお引越し、社内会議などで予定が組みにくい方も安心してご購入いただけます。
          </p>
          <ul>
            <li>2か月以上ご希望のお客様はご相談ください。</li>
            <li>銀行振込でのご購入の際、ご購入から１週間以内にお振込みが確認されなかっ<br class="is_pc">た場合は、自動でキャンセルとなります。予めご了承ください。</li>
          </ul>
        </div>
      </div>
      <div class="item">
        <div class="figure_wrap">
          <span class="figure_number en">SERVICE / 03</span>
          <figure>
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access04_img03.jpg" media="(min-width: 768px)" />
              <source srcset="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access04_img03_sp.jpg" media="(max-width: 767px)" />
              <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/shop_access04_img03.jpg" alt="">
            </picture>
          </figure>
        </div>
        <div class="txt">
          <div class="txt_h">
            <span class="en_h en">DRINK</span>
            <h3>フリードリンクサービス</h3>
          </div>
          <p>
            6～8月の3か月間、オリジナルミネラルウォーター雪をフリードリンクとしてご提供いたします。<br class="is_pc">平日を含め、ご来店いただいたお客様にプレゼントいたします。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ショップ / アクセス04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ショップ / アクセス05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="repair05 contact_area">
  <div class="contact_area_inner">
    <div class="section_title white horizontal">
      <span class="en">contact</span>
      <h2>コンタクト</h2>
    </div>
    <p>商品や修理、レンタルに関する<br class="is_sp">お問い合わせなど <br class="is_sp">お気軽にお問い合わせください。</p>
    <a href="/pages/contact"><img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_mail.svg" alt="">お問合せフォーム</a>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ショップ / アクセス05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ チャット・検索・TEL ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<div class="chat">
  <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_chat.svg" alt="">
  <span class="en">chat</span>
</div>
<div class="side_act">
  <div class="act tel">
    <span class="act_txt en">tel</span>
    <div class="act_inner">
      <span class="icon" id="open01">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_tel.svg" alt="">
      </span>
      <a
        href="tel:078-224-5444"
        class="inner en"
        id="inner01">
        <p class="tel_number">078-224-5444</p>
        <p class="time">10:00 - 17:00</p>
      </a>
    </div>
  </div>
  <div class="act search">
    <span class="act_txt en">search</span>
    <div class="act_inner">
      <span class="icon" id="open02">
        <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_search.svg" alt="">
      </span>
      <div class="inner" id="inner02">
        <form
          action="{{ routes.search_url }}"
          method="get"
          role="search"
          class="search">
          <div class="field">
            <input
              class="search__input field__input"
              id="Search-In-Template"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="サイト内を検索"
              {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-list"
              aria-controls="predictive-search-results-list"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
              {%- endif -%}>
            <input
              name="options[prefix]"
              type="hidden"
              value="product">
            {%- if settings.predictive_search_enabled -%}
              <div
                class="predictive-search predictive-search--search-template"
                tabindex="-1"
                data-predictive-search>
                <div class="predictive-search__loading-state">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    class="spinner"
                    viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle
                      class="path"
                      fill="none"
                      stroke-width="6"
                      cx="33"
                      cy="33"
                      r="30"></circle>
                </svg>
              </div>
            </div>
            <span
              class="predictive-search-status visually-hidden"
              role="status"
              aria-hidden="true"></span>
          {%- endif -%}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ チャット・検索・TEL ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->